table{
    border: solid black 1.5px;
    background-color: rgb(168, 215, 255);
    padding: 5px;
    margin: 5px;
}

table th{
    background-color: rgb(69, 156, 255);
}
table td{
    border: solid black 1.5px;
}